.not-found-container {
  text-align: center;
  padding: 50px;
  height: 100vh;
}

.not-found-container h1 {
  font-size: 3em;
  color: #333;
}

.not-found-container p {
  font-size: 1.2em;
  color: #666;
}

.not-found-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.not-found-container a:hover {
  background-color: #0056b3;
}
